<div class="movies-container container-border margin-top">
    <h2 class="title-margin-left">About</h2>
    <div class="movies-container">
       <h3>Assessment - #DEV01: Exilesoft Angular developer certificate</h3>

        <p>This is a demo application developed using AngularJS 1 along with html and css as a part of the Exilesoft Angular developer certificate program, in order to get certified as <b>Exilesoft Angular developer</b>.</p>

        <h4>Assignment</h4>
        <p>Create an app that lists your favorite movies. The app should contain a list of the movies, details of each movie as well as the top/favorite characters. The following list highlights the main requirements:</p>
        <ul>
            <li>The movie list should show the name and your preferred rating for each movie</li>
            <li>The movie details should contain: Title, Director, Release Date, Rating, Language and Country</li>
            <li>Character list should contain: Character Name and the Actor/Actress Name</li>
            <li>A form to add movie details including the characters</li>
        </ul>
        <p>Try to use as many features as possible in AngularJS (controller, service, routing, inbuilt/custom directives, etc.).</p>

        <h3>Developed by</h3>
        <b>Ruwantha U. Ratnayake</b>
        Software Engineer - Exilesoft
    </div>
    <br />
</div>
<br />
