html, body {
    height: 100%;
    background-color: #c6c6ec !important;
}

.logo {
    height: 100px;
    width: auto;
}

.container {
    width: 70%;
    height: auto;
    background-color: whitesmoke;
    margin: 2% auto 3%;
    box-shadow: 2px 2px 2px #888888;
    border-color: grey;
}

.page-title {
    font-size: 50px;
    text-align: center;
}

.movies-container {
    width: 80%;
    margin: 0 auto;
}

.container-border {
    border-style: solid;
    border-width: 1px;
}

.margin-botton {
    margin-bottom: 12px;
}

.margin-top {
    margin-top: 12px;
}

.movie-tile {
    margin-top: 12px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

    .nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .nav li a:hover {
            background-color: #111;
        }

.txt-fix-width {
    width: 370px;
}

.error {
    color: red;
}

.float-right {
    float: right;
}

.title-margin-left {
    margin-left: 20px;
}
